.loginCon{
    background-color: #BFDBF4;
}

.butLogin{
    background-color: #25e117;
}
.butLogin{
    margin-top: 5px;
}
.butLogin button{
    margin-left: 220px;
}
.butLogin{
    color: #0068ff !important;
}
